    body{
  background:#000;
  color:#fff;
  font-family: Arial, Helvetica, sans-serif;
}

.food-card{
  background:#111;
  border-radius:20px;
  padding:15px;
  text-align:center;
  height:100%;

  transition:0.3s;
}

.food-card:hover{
  transform:translateY(-15px);
}

.food-card img{
  width:100%;
  height:150px;
  object-fit:contain;
  margin-bottom:10px;
}

.food-card h5{
  font-size:16px;
  margin-bottom:5px;
}

.food-card p{
  font-size:13px;
  color:#aaa;
}

.card-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:10px;
}

.card-bottom span{
  color:red;
  font-weight:bold;
}

.card-bottom button{
  background:red;
  border:none;
  color:#fff;
  padding:6px 14px;
  border-radius:20px;
  font-size:13px;
  cursor:pointer;
}


/* NAVBAR */
.custom-navbar {
  background: #0d0d0d;
  padding: 20px 60px;
  /* position: sticky; */
  top: 0;
  z-index: 999;
}
a{
    text-decoration: none;
}
/* LOGO */
.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo i {
  color: #ffb000;
}

/* NAV LINKS */
.navbar-nav {
  gap: 30px;
}

.nav-link {
  color: #ccc !important;
  font-size: 15px;
  position: relative;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #ffb000 !important;
}

/* TOGGLER */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* CART ICON */
.cart-icon {
  background: #ffb000;
  padding: 8px 14px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.cart-icon .count {
  background: #000;
  color: #ffb000;
  padding: 2px 7px;
  border-radius: 50%;
  font-size: 12px;
}

/* MOBILE */
@media (max-width: 768px) {
  .custom-navbar {
    padding: 15px 20px;
  }

  .navbar-nav {
    gap: 15px;
  }

  .cart-icon{
    padding: 6px 12px;
    display: none;
  }
}


