
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            /* border: 1px solid white; */
        }

        body {
            background: #0d0d0d;
            color: #fff;
            
        }
 /* NAVBAR...................................... */
        .navbar {
            padding: 20px 60px;
        
  /* position:fixed; */
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  background:#0d0d0d;
            
        }

.cart-popup{
  position:fixed;
  top:90px;
  right:30px;
  width:320px;
  background:#111;
  border-radius:15px;
  padding:20px;
  display:none;
  z-index:999;
  box-shadow:0 0 30px rgba(255,176,0,.4);
}
.cart-popup h4{
    color:#ffb000;
    margin-bottom:15px}
.cart-item{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
  font-size:14px;
}
.cart-item span{color:#ccc}
.empty{text-align:center;
    color:#777}
        .logo {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 22px;
            font-weight: bold;
            color: #fff;
        }
.icons{
  background:#ffb000;
  padding:8px 14px;
  border-radius:30px;
  display:flex;
  align-items:center;
  gap:8px;
  color:#000;
  cursor:pointer;
}
a{
    text-decoration: none;
}
#cartCount{
  background:#000;
  color:#ffb000;
  padding:2px 7px;
  border-radius:50%;
  font-size:12px;
  font-weight:bold;
}

        .logo i {
            color: #ffb000;
        }

        .navbar-nav {
            gap: 30px;
        }

        .nav-link {
            color: #ccc !important;
            font-size: 15px;
        }

        .nav-link.active,
        .nav-link:hover {
            color: #ffb000 !important;
        }

        .navbar-toggler {
            border: none;
        }

        .navbar-toggler-icon {
            filter: invert(1);
        }

        .icons {
            background: #ffb000;
            padding: 10px 16px;
            border-radius: 30px;
            display: flex;
            gap: 15px;
            color: #000;
        }

        .hero {
            min-height: calc(100vh - 90px);
        }

        .hero-text h1 {
            font-size: px;
            line-height: 1.2;
        }

        .hero-text span {
            color: #ffb000;
        }

        .buttons {
            margin-top: 30px;
            display: flex;
            gap: 20px;
        }

        .btn-dark {
            background: #1a1a1a;
            border-radius: 30px;
        }

        .btn-outline {
            color: #ffb000;
            border-bottom: 2px solid #ffb000;
            border-radius: 0;
        }


        .hero-image {
            display: flex;
            justify-content: center;
        }

        .circle {
            width: 420px;
            height: 420px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            /* glow */
            box-shadow:
                0 0 40px rgba(255, 176, 0, .6),
                0 0 80px rgba(255, 176, 0, .4);

            /* floating animation */
            animation: float 4s ease-in-out infinite;
        }

        .circle::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;
            border: 6px solid #ffb000;
        }

        .circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(1.05) contrast(1.05);
        }


        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-15px);
            }

            100% {
                transform: translateY(0);
            }
        }


        @media(max-width:768px) {
            .navbar {
                padding: 20px;
            }

            .hero-text {
                text-align: center;
            }

            .hero-text h1 {
                font-size: 36px;
            }

            .buttons {
                justify-content: center;
            }

            .circle {
                width: 300px;
                height: 300px;
            }
        }

        .story-btn {
            display: inline-flex;
            align-items: center;
            gap: 10px;

            padding: 12px 26px;
            background: #1a1a1a;
            color: #ffb000;

            border-radius: 30px;
            text-decoration: none;
            font-size: 14px;
            font-weight: 500;

            transition: all .3s ease;
        }


        .story-btn span {
            font-size: 12px;
            transition: transform .3s ease;
        }


        .story-btn:hover {
            background: #222;
            box-shadow: 0 0 15px rgba(255, 176, 0, .4);
        }

        .story-btn:hover span {
            transform: translateX(4px);
        }

        .about-story {
            padding: 80px 0;
        }

        .about-img {
            display: flex;
            justify-content: center;
        }

        .about-circle {
            width: 360px;
            height: 360px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            box-shadow:
                0 0 35px rgba(255, 176, 0, .6),
                0 0 70px rgba(255, 176, 0, .4);
        }

        .about-circle::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 50%;
            border: 5px solid #ffb000;
        }

        .about-circle img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media(max-width:768px) {

            .about-content {
                text-align: center;
                margin-bottom: 30px;
            }

            .about-circle {
                width: 260px;
                height: 260px;
            }

     
            .about-story {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }


        .food-card {
            background: #111;
            border-radius: 20px;
            padding: 15px;
            text-align: center;
            color: #fff;

            transition: 0.3s;
            height: 340px;
        }

        .food-card:hover {
            transform: translateY(-15px);
        }


        .food-img {
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .food-img img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }


        .food-card h6 {
            margin: 12px 0 4px;
            font-size: 16px;
        }

        .food-card p {
            font-size: 12px;
            color: #bbb;
            margin-bottom: 10px;
        }


        .card-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .price {
            color: #ff2b2b;
            font-weight: bold;
        }


        .cart-action {
            position: relative;
        }

        .add-btn {
            background: #ff2b2b;
            border: none;
            padding: 6px 14px;
            color: #fff;
            border-radius: 20px;
            cursor: pointer;
            font-size: 13px;
        }

        .add-btn:hover {
            background: #ff0000;
        }

        .qty-box {
            display: none;
            align-items: center;
            gap: 10px;
            background: #fff;
            color: #000;
            padding: 4px 12px;
            border-radius: 25px;
            border: 2px solid #ffcc00;
            font-weight: bold;
        }

        .qty-box button {
            background: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
            font-weight: bold;
        }

        .qty {
            min-width: 18px;
            text-align: center;
        }

        .review-card {
            background: #111;
            padding: 25px;
            border-radius: 18px;
            color: #fff;
            text-align: center;

            transition: 0.3s;
            height: 100%;
        }

        .review-card:hover {
            transform: translateY(-6px);

        }

        .review-card h5 {
            margin-bottom: 15px;
        }

        .review-card p {
            font-size: 14px;
            color: #ccc;
            line-height: 1.6;
        }

        .review-card span {
            display: block;
            margin-top: 15px;
            color: #ff2b2b;
            font-weight: bold;
        }


        .contact-info,
        .contact-form {
            background: #111;
            padding: 30px;
            border-radius: 18px;
            height: 100%;
        }

        .contact-info h4 {
            color: #ff2b2b;
            margin-bottom: 15px;
        }

        .contact-info p {
            color: #ccc;
            font-size: 14px;
            margin-bottom: 20px;
        }

        .contact-info ul {
            list-style: none;
            padding: 0;
        }

        .contact-info ul li {
            margin-bottom: 12px;
            color: #fff;
            font-size: 14px;
        }


        .contact-form input,
        .contact-form textarea {
            width: 100%;
            padding: 12px;
            background: #000;
            border: 1px solid #333;
            color: #fff;
            border-radius: 10px;
            outline: none;
        }

        .contact-form input::placeholder,
        .contact-form textarea::placeholder {
            color: #888;
        }

        .contact-form button {
            background: #ff2b2b;
            border: none;
            padding: 12px;
            width: 100%;
            color: #fff;
            font-size: 15px;
            border-radius: 25px;
            cursor: pointer;
            transition: 0.3s;
        }

        .contact-form button:hover {
            background: #ff0000;
        }


        .social-links {
            margin-top: 25px;
            display: flex;
            gap: 15px;
        }

        .social-links a {
            width: 42px;
            height: 42px;
            background: #000;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 18px;
            transition: 0.3s;
            text-decoration: none;
        }

        .social-links a:hover {
            transform: translateY(-4px);
        }


        .social-links a:nth-child(1):hover {
            color: #E4405F;
        }


        .social-links a:nth-child(2):hover {
            color: #FF0000;
        }


        .social-links a:nth-child(3):hover {
            color: #6e6e6e;
        }
@media(max-width:991px){
  .navbar-collapse{
    background:#0d0d0d;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    padding:20px 0;
  }

  .icons{
    z-index:3000;
  }
}
